{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }}" style= "position: relative;width: 200px;float: right;margin-right: 20px;padding-left: 30px;">{{ message }}</div>
    {% endfor %}
  {% endif %}
{% endwith %}

{% if error %}
  <div class="alert alert-danger"  style= "position: relative;width: 200px;float: right;margin-right: 20px;padding-left: 30px;">{{error}}</div>
{% endif %}

{% if msg %}
  <div class="alert alert-success"  style= "position: relative;width: 200px;float: right;margin-right: 20px;padding-left: 30px;">{{msg}}</div>
{% endif %}
